<app-header></app-header>
<div class="container">
  <h2 class="my-5">{{ pokemon?.name | titlecase }}</h2>
  <nav class="nav nav-tabs">
    <a class="nav-link active" routerLink="general" routerLinkActive="active" queryParamsHandling="merge">General</a>
    <a class="nav-link" routerLink="stats" routerLinkActive="active" queryParamsHandling="merge">Stats</a>
    <a class="nav-link" routerLink="evolutions" routerLinkActive="active" queryParamsHandling="merge">Evolutions</a>
  </nav>

  <div class="p-3">Onglet</div>

  <app-pokemon-navigation
    [pokemonName]="pokemon?.name"
    (goToPreviousPokemonClick)="goToPreviousPokemon()"
    (goToNextPokemonClick)="goToNextPokemon()"
  ></app-pokemon-navigation>
</div>
