<h2 class="my-5">Mes Pokémon</h2>
<ul class="list-group">
  <li class="list-group-item">
    <app-pokemon-item></app-pokemon-item>
  </li>
  <li class="list-group-item">
    <app-pokemon-item></app-pokemon-item>
  </li>
</ul>
<div class="py-3">
  <input
    type="text"
    class="form-control mb-3"
    placeholder="Enter a pokemon name"
    (input)="onUpdatePokemonName($event)"
  />
  <button
    class="btn btn-primary"
    [disabled]="!allowNewPokemon"
    (click)="onAddPokemon()"
    type="button"
  >
  Add pokemon
  </button>
  <div>{{ pokemonName }}</div>
  <span class="ml-3">{{ pokemonAdditionStatus }}</span>
</div>
