<h2 class="my-5">Mes Pokémon</h2>
<div class="py-3">
  <label for="pokemonName" class="form-label">Nom du pokémon</label>
  <input
    type="text"
    id="pokemonName"
    class="form-control mb-3"
    placeholder="Entrer un nom"
    [(ngModel)]="pokemonName"
  />
  <button
    class="btn btn-primary"
    [disabled]="!allowNewPokemon"
    (click)="onAddPokemon()"
    type="button"
  >
  Ajouter un pokémon
  </button>
  <div>{{ pokemonName }}</div>
  <div *ngIf="pokemonAdded; else noPokemon">
    Un pokémon a été ajouté ! Son nom est : {{ pokemonName }}
  </div>
  <ng-template #noPokemon>
    Aucun nouveau pokémon n'a été ajouté.
  </ng-template>
</div>

<ul class="list-group">
  <li class="list-group-item">
    <ng-container *ngFor="let pokemon of pokemons; let pokemonIndex = index">
      <span>{{ pokemonIndex }}</span>
      <app-pokemon-item></app-pokemon-item>
    </ng-container>
  </li>
</ul>
