<h2 class="my-5">Mes Pokémon</h2>
<div class="py-3">
  <label for="pokemonName" class="form-label">Nom du pokémon</label>
  <input
    type="text"
    id="pokemonName"
    class="form-control mb-3"
    placeholder="Entrer un nom"
    (input)="onPokemonNameType()"
    [(ngModel)]="pokemonName"
    #nameInput
  />
  <button class="btn btn-primary" [disabled]="!allowNewPokemon" (click)="onAddPokemon()" type="button">
    Ajouter un pokémon
  </button>
</div>

<ng-container [ngSwitch]="pokemons.length">
  <p *ngSwitchCase="0">Vous n'avez aucun pokémon.</p>
  <p *ngSwitchCase="6">
    Vous avez 6 pokemon, votre sac ne peut pas en contenir d'avantage. Les prochains seront envoyé dans le PC.
  </p>
  <p *ngSwitchDefault>Pokemon : {{ pokemons.length }}</p>
</ng-container>

<ul class="list-group">
  <li *ngFor="let pokemon of pokemons; let pokemonIndex = index">
    <app-pokemon-item
      [routerLink]="['/pokemon/', pokemon.name]"
      [queryParams]="{ allowEdit: 1, allowTest: 0 }"
      fragment="test"
      [pokemon]="pokemon"
      [pokemonIndex]="pokemonIndex"
      class="my-item"
    >
    </app-pokemon-item>
  </li>
</ul>
