// Ce code ne fonctionne pas
/*.my-item .pokemon-item {
  color: orange;
} */

// Pour forcer le style d’un composant enfant :

// - On peut utiliser 'ng-deep'
.my-item ::ng-deep .pokemon-item {
  color: violet;
}

// - Ou utiliser la méthode des variables CSS, il faut préalablement déclarer les variables dans le style du composant enfant
/* .my-item {
  --title-color: orange;
} */

// Attention on ne peut pas accéder à '.pokemon-item' avec cet méthode
/* .my-item .pokemon-item {
  --title-color: orange;
} */
