$pokemon-type-colors: (
  GRASS: limegreen,
  FIRE: orangered,
  WATER: dodgerblue,
  POISON: purple,
  NORMAL: antiquewhite,
  FIGHTING: maroon,
  FLYING: mediumpurple,
  GROUND: goldenrod,
  ROCK: darkgoldenrod,
  BUG: olive,
  GHOST: slateblue,
  STEEL: slategrey,
  ELECTRIC: gold,
  PSYCHIC: orchid,
  ICE: lightcyan,
  DRAGON: mediumslateblue,
  DARK: saddlebrown,
  FAIRY: lightpink,
  SHADOW: indigo,
);
