<a class="pokemon-link" (click)="goToPokemon()" *ngIf="pokemon">
  <div class="card bg-light mb-4 text-center">
    <div class="card-header">#{{ pokemon.details?.id }} {{ pokemon.name | titlecase }}</div>
    <div class="card-body">
      <app-loader [isLoading]="isLoading"></app-loader>
      <ng-container *ngIf="!isLoading">
        <app-pokemon-image [isLoading]="isLoading" [pokemon]="pokemon"></app-pokemon-image>
        <div class="pokemon-types mb-4">
          <ng-container *ngFor="let type of pokemon.details?.types; let index = index">
            <app-pokemon-type
              [type]="type.type.name"
              [isLast]="index !== pokemon.details?.types?.length! - 1"
            ></app-pokemon-type>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</a>
