.pokemon-link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  .card {
    min-height: 200px;

    .card-image {
      width: 50%;
      display: inline-block;
      margin: 1em auto;
    }
  }
}
