<app-header></app-header>
<div class="container bg-light mt-5 p-3">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="usernameInput">Nom</label>
      <input class="form-control" id="usernameInput" type="text" formControlName="username" />
    </div>
    <div class="form-group mb-3">
      <label for="emailInput">Adresse email</label>
      <input class="form-control" id="emailInput" type="email" formControlName="email" />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Valider</button>
  </form>
</div>
