<div class="card">
  <div class="card-body row">
    <div class="col">
      <span>{{ pokemon.name }}</span>
    </div>
    <div class="col">
      <span
        class="badge rounded-pill"
        [ngStyle]="{ backgroundColor: generateColor() }"
        [ngClass]="{ 'is-green': pokemon.level >= 50 }"
      >
        Niv. {{ pokemon.level }}
      </span>
    </div>
    <div class="col">
      {{ pokemon.createdAt }}
    </div>
  </div>
  <div class="close-button-container p-3">
    <button (click)="onRemoveClick()" type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>
