$pokemon-type-colors: (
  GRASS: limegreen,
  FIRE: orangered,
  WATER: dodgerblue,
  POISON: purple,
  NORMAL: antiquewhite,
  FIGHTING: maroon,
  FLYING: mediumpurple,
  GROUND: goldenrod,
  ROCK: darkgoldenrod,
  BUG: olive,
  GHOST: slateblue,
  STEEL: slategrey,
  ELECTRIC: gold,
  PSYCHIC: orchid,
  ICE: lightcyan,
  DRAGON: mediumslateblue,
  DARK: saddlebrown,
  FAIRY: violet,
  SHADOW: indigo,
);

.is-green {
  color: black;
}

.card {
  margin-bottom: 1rem;
}

.close-button-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@each $name, $hex in $pokemon-type-colors {
  .pokemon-background-type-#{$name} {
    background-color: $hex;

    @if lightness($hex) >= 50 {
      color: #000;
    }
  }
}
