<div class="row">
  <div class="col-sm">
    <h2 class="my-5 pokemon-name">#{{ pokemon?.details?.id }} {{ pokemon?.name | titlecase }}</h2>
  </div>
  <div class="image-container col-sm">
    <app-pokemon-image [isLoading]="isLoading" [pokemon]="pokemon"></app-pokemon-image>
  </div>
</div>
<nav class="nav nav-tabs">
  <a class="nav-link" routerLink="general" routerLinkActive="active" queryParamsHandling="merge">General</a>
  <a
    class="nav-link"
    routerLink="stats"
    [state]="{ stats: pokemon?.details?.stats }"
    routerLinkActive="active"
    queryParamsHandling="merge"
    >Stats</a
  >
  <a class="nav-link" routerLink="evolutions" routerLinkActive="active" queryParamsHandling="merge">Evolutions</a>
</nav>

<router-outlet></router-outlet>
