<div class="card pe-5">
  <div class="card-body row">
    <div class="col">
      <app-pokemon-image [isLoading]="isLoading" [pokemon]="pokemon" [isSmall]="true"></app-pokemon-image>
      <span class="fw-bold">{{ pokemon.name | titlecase }}</span>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <ng-container *ngFor="let type of pokemon.details?.types; let index = index">
        <app-pokemon-type
          [type]="type.type.name"
          [isLast]="index !== pokemon?.details?.types?.length! - 1"
        ></app-pokemon-type>
      </ng-container>
    </div>
    <!-- <div class="col">
      {{ pokemon.createdAt | date: 'fullDate':'':'fr-FR' | titlecase }}
    </div> -->
  </div>
  <div class="close-button-container p-3">
    <button (click)="onRemoveClick()" type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>
